<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.1.91/bm</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://192.168.1.91/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/bm</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BrandOutletMonitoringEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.100.97;Initial Catalog=BrandOutletMonitoring;User ID=sa;Password=Adios82amigo;Application Name=EntityFramework" Name="Data Source=192.168.100.97;Initial Catalog=BrandOutletMonitoring;User ID=sa;Password=Adios82amigo;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BrandOutlet.Models.EntityModel.BrandOutletMonitoringEntities, BrandOutlet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RetailerMotivationProgramEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.100.97;Initial Catalog=RetailerMotivationProgram;User ID=sa;Password=Adios82amigo;Application Name=EntityFramework" Name="Data Source=192.168.100.97;Initial Catalog=RetailerMotivationProgram;User ID=sa;Password=Adios82amigo;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BrandOutlet.Models.EntityModel.RetailerMotivationProgramEntities, BrandOutlet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BrandOutlet.Models.ApplicationDbContext, BrandOutlet" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BrandOutletMonitoringEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityModel.BrandOutletMonitoringEntities.csdl|res://*/Models.EntityModel.BrandOutletMonitoringEntities.ssdl|res://*/Models.EntityModel.BrandOutletMonitoringEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.100.97;Initial Catalog=BrandOutletMonitoring;User ID=sa;Password=Adios82amigo;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RetailerMotivationProgramEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityModel.RetailerMotivationProgramEntities.csdl|res://*/Models.EntityModel.RetailerMotivationProgramEntities.ssdl|res://*/Models.EntityModel.RetailerMotivationProgramEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.100.97;Initial Catalog=RetailerMotivationProgram;User ID=sa;Password=Adios82amigo;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>