
@{
    ViewBag.Title = "BrandMonitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .tbody { }

    .btn, .buttons, .modal-footer .btn + .btn, button {
        margin-bottom: 5px;
        margin-right: 5px;
        color: white;
        background-color: #083C68;
    }


    table.dataTable thead tr {
        background-color: #083C68;
        color: white;
    }


    table.dataTable thead tr {
        background-color: #083C68;
        color: white;
    }

    .x_title {
        border-bottom: 2px solid #E6E9ED;
        padding: 1px 5px 6px;
        color: white;
        background: #003B66;
    }

    .modal-header {
        background: #003B66;
        color: white;
    }


    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: 1px solid #2980B9 !important;
        background-color: #2980B9 !important;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2980B9), color-stop(100%, #2980B9)) !important;
        background: -webkit-linear-gradient(top, #2980B9 0%, #2980B9 100%) !important;
        background: -moz-linear-gradient(top, #2980B9 0%, #2980B9 100%) !important;
        background: -ms-linear-gradient(top, #2980B9 0%, #2980B9 100%) !important;
        background: -o-linear-gradient(top, #2980B9 0%, #2980B9 100%) !important;
        background: linear-gradient(to bottom, #2980B9 0%, #2980B9 100%) !important;
    }
</style>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Brand Outlet Monitoring</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>*@
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left input_mask">



                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Name <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtName" placeholder="Type Name....." class="form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Type <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtType" placeholder="Type....." class="form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Remarks <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="txtRemarks" placeholder="Type Remarks....." class="form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            @*<button type="button" class="btn btn-primary">Cancel</button>*@
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <input type="button"  id="btnSave" value="Submit" class="btn btn-success">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            @*<div class="x_title">
        <h2>Brand Outlet Monitoring Information</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>*@
                @*<ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>*@
            <div class="x_content">
                <br />
                <div class="form-horizontal form-label-left input_mask">


                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                     <h2>Brand Outlet Monitoring Information</h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <table id="tblBrandMonitorDatatable" style="color: black" class="table table-striped table-bordered">

                                        <thead>
                                            <tr>

                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Remarks</th>

                                                <th>Edit</th>
                                                <th>Delete</th>

                                            </tr>
                                        </thead>


                                        <tbody class="tbody" style="color: black"></tbody>



                                    </table>
                                </div>
                            </div>
                        </div>




                    </div>





                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalBrandMonitoringEdit" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brand Outlet Monitoring</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="x_panel">
                            @*<div class="x_title">
                                <h2>Update Information</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                 <li class="dropdown">
   @* <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="#">Settings 1</a>
        </li>
        <li>
            <a href="#">Settings 2</a>
        </li>
    </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>*@
                            <div class="x_content">
                                <br />
                                <form class="form-horizontal form-label-left input_mask">
                                    <div class="hide">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Brand Monitor Id <span class="required">*</span>
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="txtModalId" placeholder="Type Name....." class="form-control col-md-7 col-xs-12" required="required" type="text">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="txtModalName" placeholder="Type Name....." class="form-control col-md-7 col-xs-12" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Type <span class="required">*</span>
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="txtModalType" placeholder="Type....." class="form-control col-md-7 col-xs-12" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Remarks <span class="required">*</span>
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="txtModalremarks" placeholder="Type Remarks....." class="form-control col-md-7 col-xs-12" required="required" type="text">
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                           
                                            <input type="button" id="btnModalUpdate" value="Update" class="btn btn-success">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>









@*<link href="~/Plugins/vendors/Datatables/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Plugins/vendors/izitoast/iziToast.min.css" rel="stylesheet" />
<script src="~/Plugins/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Plugins/vendors/izitoast/iziToast.min.js"></script>
<script src="~/Plugins/vendors/Datatables/jquery.dataTable-1.10.9.min.js"></script>*@


<link href="~/Plugins/vendors/Datatables/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Plugins/vendors/izitoast/iziToast.min.css" rel="stylesheet" />
<script src="~/Plugins/vendors/jquery/dist/jquery.min.js"></script>

<script src="~/Plugins/vendors/izitoast/iziToast.min.js"></script>
<script src="~/Plugins/vendors/Datatables/jquery.dataTable-1.10.9.min.js"></script>

<script>

    $(document).ready(function () {
        loadData();
    });
   
  
    $('#txtName').focus();

    $("#btnSave").click(function () {

        debugger;

        if ($("#txtName").val() == "") {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Name Required'
            });
            return false;

        } else if ($("#txtType").val() == "") {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Type Required'
            });
            return false;
        } else {
            var brandName = {};

            brandName.Name = $("#txtName").val().trim();
            brandName.Type = $("#txtType").val().trim();
            brandName.Remarks = $("#txtRemarks").val().trim();

            console.log(brandName);

            //alert("Data Saved");
        }
        debugger;
        $.ajax({
            url: '@Url.Action("InsertBrandMonitorInfo", "Brand")',
            type: 'Post',
            data: JSON.stringify({ brandInfo: brandName }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {

                //alert(data.Message);
                // alert(data.IsSuccess);
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Information Saved Successfully'
                    });
                    Clear();
                    loadData();
                  
                    return true;
                }
                else {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: data.Message
                    });

                    Clear();
                    return false;
                }


            },
            error: function (result) {
                iziToast.error({
                    timeout: 2000,
                    imageWidth: 150,
                    position: 'center',
                    title: 'Error',
                    message: result
                });

                return false;
            }

        });
    });

    function loadData() {
        debugger;


        var table = $('#tblBrandMonitorDatatable').DataTable({
            "ajax": {
                "url": "@Url.Action("GetBrandMonitorList", "Brand")",
                "type": "GET",
                "datatype": "json"
            },
          
            "destroy": true,
            "columnDefs":
            [{
                    "targets": [0],
                    "searchable": true,
                    "visible": false
                },
                { "width": "10%", "targets": 1 }
            ],
            "pageLength": 5,
            "scrollY": "200px",
            "dom": 'Bfrtip',
            
    "columns": [
        { "data": "Id", "autoWidth": true, "searchable": true },
        { "data": "Name", "autoWidth": true, "searchable": true },
        { "data": "Type", "autoWidth": true, "searchable": true },
        { "data": "Remarks", "autoWidth": true, "searchable": true },

        { "data": null, "defaultContent": "<button id='Edit'>Edit</button>" },
        { "data": null, "defaultContent": "<button id='Delete'>Delete</button>" }

    ]
    });

        //alert('Id');
    table.buttons().container()
        .appendTo('#datatable_wrapper .small-4.columns:eq(0)');

    }


    $('#tblBrandMonitorDatatable tbody').on('click', '#Edit', function () {
        debugger;

        var currentRow = $(this).closest("tr");

        var data = $('#tblBrandMonitorDatatable').DataTable().row(currentRow).data();

        var brandmonitorId = data['Id'];

        EditBrandMonitor(brandmonitorId);

    });

    $('#tblBrandMonitorDatatable tbody').on('click', '#Delete', function () {
        var currentRow = $(this).closest("tr");
        var data = $('#tblBrandMonitorDatatable').DataTable().row(currentRow).data();

        var shopId = data['Id'];
        debugger;
        var brandMonitorInfo = {};
        brandMonitorInfo.Id = shopId;
        brandMonitorInfo.active = false;

        iziToast.show({
            theme: 'dark',
            balloon: false,
            title: 'Wait!!',
            message: 'Are You Sure Want To Delete? !',
            position: 'center', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                ['<button>Ok</button>', function (instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutUp',
                        onClosing: function (instance, toast, closedBy) {
                            console.info('closedBy: ' + closedBy); // The return will be: 'closedBy: buttonName'
                        }
                    }, toast, 'buttonName');
                    UpdateBrandmonitorInfo(brandMonitorInfo, "D");


                }, true], // true to focus
                ['<button>Close</button>', function (instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutUp',
                        onClosing: function (instance, toast, closedBy) {
                            console.info('closedBy: ' + closedBy); // The return will be: 'closedBy: buttonName'
                        }
                    }, toast, 'buttonName');
                }]
            ],
            onOpening: function (instance, toast) {
                console.info('callback abriu!');
            },
            onClosing: function (instance, toast, closedBy) {
                console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
            }
        });

    });

    $("#btnModalUpdate").click(function () {
        debugger;
        var brandMonitorInfo = {};
        brandMonitorInfo.Id = $('#txtModalId').val();
        brandMonitorInfo.Name = $('#txtModalName').val();
        brandMonitorInfo.Type = $('#txtModalType').val();
        brandMonitorInfo.Remarks = $('#txtModalremarks').val();


        UpdateBrandmonitorInfo(brandMonitorInfo, "E");

    });

    function UpdateBrandmonitorInfo(brandMonitorInfo, type) {
        debugger;
        $.ajax({
            url: '@Url.Action("UpadteBrandMonitorCategoryInfo", "Brand")',
            type: 'Post',
            data: JSON.stringify({ brandMonitorInfo: brandMonitorInfo, type: type }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {

                //alert(data.Message);
                // alert(data.IsSuccess);
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Information Upadte Successfully'
                    });

                    Clear();
                    loadData();
                    return true;
                }
                else {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: data.Message
                    });

                    Clear();
                    return false;
                }


            },
            error: function (result) {
                iziToast.error({
                    timeout: 2000,
                    imageWidth: 150,
                    position: 'center',
                    title: 'Error',
                    message: result
                });

                return false;
            }

        });

    }

    function EditBrandMonitor(id) {
        debugger;
        $.ajax({
            url: " @Url.Action("EditBrandMonitorListById", "Brand")",
            type: "GET",
        data: { id: id },
        contentType: "application/json;charset=UTF-8",
        dataType: "json",
        success: function(result) {

            console.log(result);
            $('#txtModalId').val(result[0].Id);
            $('#txtModalName').val(result[0].Name);
            $('#txtModalType').val(result[0].Type);
            $('#txtModalremarks').val(result[0].Remarks);



            $("#ModalBrandMonitoringEdit").modal('show');
            $("#btnModalUpdate").click(function () {
                $('#ModalBrandMonitoringEdit').modal('hide');
            });

        },
        error: function(errormessage) {
            alert(errormessage.responseText);
        }
    });
    return false;

    }

    function Clear() {
        $('#txtModalName').val('');
        $('#txtModalType').val('');
        $('#txtModalremarks').val('');

        $('#txtShopName').focus();

    }

</script>